<div>
<div>ID: <%= book['id'] %> </div> <img src="<%= book['imgUrl'] %> " alt="Cover"><div><%= book['title'] %></div> <div>by: <%= book['author']%></div>
<div>Type: <%= book['type'] %> </div> <div><%= book['description'] %></div>
</div>


